#main-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}
.main-text {
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    width: 520px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
}
#email-box {
    width: 500px;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
}

#email-box:valid {
    box-shadow: 0 0 0 2pt #c8e1ff;
    border-color: #9fcdff;
}

#subscribe-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: #27a745;
    border-radius: 5px;
    border-style: none;
}
#subscribe-button:hover {
    box-shadow: 0 0 0 2pt #9dd4a9;
}
#subscribe-button:focus, #email-box:focus {
    outline: none;
}
#thanks-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #226031;
    font-size: 26px;
    line-height: 10px;
    text-align: left;
}
.thanks-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #226031;
}
.thanks-card {
    width: 520px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
}
.green-card {
    width: 485px;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #d4edda;
    border-color: #c6e7ce;
}